body{
   font-family : 'Roboto', sans-serif;

}


/***Navbar**/
.nav item{
     letter-spacing: .2em;
     font-size: 7px;
     text-transform:uppercase;
       }
.dropdown-item{

     letter-spacing: .2em;
     font-size: 7px;
     text-transform:uppercase;


}